#titulo{
    color: green;
}

nav{
    background-color: greenyellow;
    color: white;
    display: flex;
    height: 8vh;
    align-items: center;
}

nav p{
    margin: 0 4vw;
    font-size: 1.3vw;
}

main{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

img{
    width: 20%;
    height: 90%;
    margin: 2vw;
}

footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}